# 0: do it for real
DRY_RUN=0

# versions to consider
VERSIONS="15.0 16.0"

# default version (latest)
VERSION="16.0"

# repos to consider
#REPOS="server-tools"

# in the dev docker image:
IP="0.0.0.0"
